
body {
  background-color: #272C34;
  color: #AAB2BE;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
}

#tableContainer {
  margin-top: 30px;
}

#issueTable {
  width: 80%;
  text-align: center;
  border: 2px white solid;
  border-radius: 15px;
  margin:auto;
}
#issueTable > caption {
  font-size: 30px;
  margin-bottom: 30px;
}
#issueTable > thead >tr> th{
  border-bottom: 1px solid white;
  padding: 15px;
}
#issueTable > tbody > tr > td {
  border-bottom: 1px solid white;
  height: 40px;
}
