
body {
  background-color: #272C34;
  color: #AAB2BE;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
}


#issueTable {
  width: 100%;
  text-align: center;
}
#issueTable > caption {
  font-size: 30px;

}
